node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
/backend-java/target/
/.idea/
/uploads/
/backend-java/uploads/
/backend-java/project-api/target/
/backend-java/project-model/target/
/backend-java/project-service/target/
/backend-java/project-web/target/
/backend-java/start/target/
